{% extends 'base.html.twig' %}
{% block title %}Robi Harid | Photo{% endblock %}

{% block body %}
    <h1 class="h-25 text-center">
        Hello World
    </h1>
    <img src="https://media.licdn.com/dms/image/C4D03AQFnNXAHBbz7Pg/profile-displayphoto-shrink_200_200/0?e=1555545600&v=beta&t=-fK6HF9Rjd1lJ9Me4BIcMP7q-m_qit9FrBFCBr_m_Ag" alt="My photo!" class="w-25 img-fluid rounded mx-auto d-block"/>
{% endblock %}